#header2{
text-align:center;
margin:auto;
color:black;
height:150px;
font-size:40pt;
}

#header1{
text-align:left;
margin-left:300px;
margin-top:50px;
color:black;
width:500px;
height:150px;
font-size:40pt;
padding:2px;
}


#navigation,#alternatenavigation{
margin-left:auto;
color:black;
background-color:blue;
font-family:arial;
font-size:14pt;
width:100%;

}

#content{
margin-left:300px;
color:black;
font-family:arial;
font-size:16pt;
float:left;
width:600px;
}

#app{
margin-top:50px;
margin-left:100px;
color:black;
font-family:arial;
font-size:14pt;
width:30%;
}

#artpiece{
margin-top:50px;
margin-left:100px;
color:black;
font-family:arial;
font-size:14pt;
width:30%;
}

#updatehistory{
margin-top:200px;
margin-left:300px;
color:black;
font-family:arial;
font-size:14pt;
width:600px;
display: block;
}

#contactme{
color:black;
font-family:arial;
font-size:14pt;
width:600px;
display: block;
margin:auto;
text-align:center;
}


html,body{
margin:0px;
height:100%;
background: #565051; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(#565051, #D1D0CE); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#565051, #D1D0CE); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#565051, #D1D0CE); /* For Firefox 3.6 to 15 */
background: linear-gradient(#565051, #D1D0CE); /* Standard syntax */
}